.btn {
  border: none;
  min-width: 70px;
  height: 30px;
  border-radius: 9px;
  &.primary {
    background-color: $pink;
    color: #fff;
    cursor: pointer;
  }
  &.large {
    min-width: 100px;
    height: 44px;
  }
}
