.card {
  border: 1px solid #203942;
  border-radius: 8px;
  opacity: 1;
  padding: 12px;
  &.stretch {
    padding: 0px;
  }
  &.active {
    background: $blue;
    border: 2px solid $light_blue;
  }
}
