.card-posts {
  &.media {
    grid-row: span 2;
    img {
      max-height: 200px;
      object-fit: cover;
    }
  }
  .username-publish-time {
    display: flex;
    justify-content: space-between;
  }

  .publish-time {
    color: #328bd2;
  }

  .content {
    margin: 15px 0px 20px;

    .post-files {
      img {
        border-radius: 10px;
        margin: 10px;
        width: 90%;
      }
    }
  }

  .username {
    color: #d33682;
    font-size: 14px;
  }

  .icons {
    display: flex;
    justify-content: space-between;
    .left-bottom-card {
      svg {
        margin-right: 25px;
        cursor: pointer;
      }
    }

    button {
      background: none;
      border: 0;
    }
    .icon-menu {
      button {
        color: #328bd2;
      }
    }
  }
}
