.card {
  border: 1px solid #203942;
  border-radius: 8px;
  max-width: 415px;
  opacity: 1;
  padding: 12px;
  width: 90%;
  &.active {
    background: $blue;
    border: 2px solid $light_blue;
  }
}
