.post-section {
  align-items: center;
  display: flex;
  justify-content: center;
  text-align: left;
  width: 100%;

  .container {
    border-left: 2px solid $sky_blue;
    border-right: 2px solid $sky_blue;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0 auto;
    padding: 20px 16px 50px 16px;

    .top-post {
      display: flex;
      justify-content: space-between;
      button {
        background: none;
        border: 0;
        color: $pink;
      }
    }
  }
}
